body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 auto;
}

.black-background {
  background: #1f2937;
}

.header {
  color: #f9faf8;
  font-weight: bolder;
  font-size: 24px;
  margin: 1em;
  display: flex;
  justify-content: space-around;
}

.header-link {
  font-size: 18px;
  display: flex;
  gap: 1em;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

.hero {
  color: #f9faf8;
  margin: 5em 13em 5em 11em;
  display: flex;
  justify-content: space-around;
  gap: 32px;
}

ul {
  list-style-type: none;
  max-width: 400px;
}

.main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
}

.secondary-text {
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 1em;
}

.button {
  color: white;
  font-weight: bold;
  padding: 8px 32px;
  background: #3882f6;
  border-radius: 6px;
}

.hero-image {
  background-color: rgb(115, 123, 128);
  white-space: pre;
  display: flex;
}

.info-header-text {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  padding: 1em;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info img {
  border-radius: 10px;
  border: 3px solid #3882f6;
  height: 150px;
  width:  150px;
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 0 2em 6em;
}

.info-text .secondary-text {
  color: rgb(82, 81, 81);
  text-align: center;
}

.quote {
  background: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  padding: 3em 6em;
}

.quote-text {
  display: flex;
  justify-content: center;
  align-content: center;
}

.quote-author {
  color: #1f2937;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
}

.sign-up {
  background-color: #3882f6;
  margin: 4em 8em;
  border-radius: 5px;
  border: 2px solid #3882f6;
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
}

.sign-up-text .main-text {
  font-size: 24px;
}

.sign-up-text .secondary-text {
  font-size: 12px;
  margin: 0 auto;
}

.sign-up .button {
  border: 2px solid white;
}

.footer {
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}